.container {
  max-width: 100%;
  border-style: 1px solid;
  border-radius: 5.5%;
  alignment: center;
  align-content: center;
}
caption {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  height:80px;
}
.screen {
  width: 100%;
  height: 80px;
}
table {
  border: none;
  width: 320px;
  height: 560px;
}
td {
  width: 80px;
  height: 80px;
}
button {
  border-width: 1px solid;
  border-radius: 10px;
  text-align: center;
  width: 75px;
  height: 75px;
  position: absolute;
  padding:5px;
  font-size: 14px;
}