.container {
  max-width: 100%;
  border-style: 1px solid;
  border-radius: 5.5%;
  alignment: center;
  align-content: center;
  padding-top: 6rem;
  padding-bottom: 18rem;
}
caption {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  height:30px;
}
div .screen {
  width: 100%;
  height: 30px;
  border: 1px solid;
  border-radius:none;
}
table {
  border: none;
  width: 265px;
  height: 460px;
}
td {
  width: 60px;
  height: 60px;
  border:none;
}
button {
  border-width: 1px solid;
  border-radius: 10px;
  text-align: center;
  width: 60px;
  height: 60px;
  position: absolute;
  padding:5px;
  font-size: 14px;
}
@media (min-width: 550px){
 table td {
  border: none;
 }
}
@media (min-width: 400px){
 table td {
  border: none;
 }
}